# Setup
title:        Cayman Improved
tagline:      cayman improved is developed by Chen Xie
url:          "http://TODO.com/"
baseurl:      ""
#paginate:     1

# About/contact
author:
  name:       TODO
  repoUrl:    http://TODO
  repo:       TODO(Gitlab or GitHub)

# Gems
plugins:
  - jekyll-paginate

#Others
markdown: kramdown

#Collection
collections:
  tags_page:
      output: true

#文章yml头默认参数
defaults:
    - scope:
        path: ""
        type: tags_page
      values:
        layout: page_tag
        permalink: /tag/:slug/
    - scope:
        path: ""
        type: "posts"
      values:
        layout: post
        permalink: :categories/:title/